/* section 1 */
.section1 {
    display: flex;

}

.sub-section1-head {
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
}

.sub-section1-p {

    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 480px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* or 162% */

    text-align: right;

    color: #444343;


}

.sub-section1-btn {

    position: absolute;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 620px;
    background-color: #F15B22;
    border-radius: 5%;
    color: aliceblue;


}

/* section 2 */

.section2 {
    margin: 100px;
    display: flex;
    justify-content: center;
    width: 527.93px;
    height: 527.93px;
    left: 229px;
    top: 1134.37px;

    background: rgba(241, 91, 34, 0.2);
    border-radius: 50%;



}



.sub-section2-head {
    position: absolute;
    width: 30%;
    /* height: 94px; */
    left: 850px;
    top: 900px;


    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: left;
}

.sub-section2-p {

    position: absolute;
    width: 30%;
    height: 104px;
    left: 850px;
    top: 1100px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* or 162% */

    text-align: left;

    color: #444343;


}

.sub-section2-ul {
    position: absolute;
    width: 349px;
    height: 162px;
    left: 830px;
    top: 1224px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* or 162% */

    text-align: left;


    color: #444343;
}

/* section 3 */

.section3 {
    margin: 300px;
    /* padding-top: 100px; */
}

.sub-section3-head {
    text-align: center;
}

.icons {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-family: 'Work Sans';
    font-style: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}

/* section 4 */

.section4 {
    position: absolute;
    width: 1140px;
    height: 300px;
    left: 230px;
    top: 2222.26px;

}

.sub-section4-image {
    background-image: url(images/watch.png);
    /* this is the trick */
}


.sub-section4-head {
    position: absolute;
    width: 459px;
    height: 94px;
    left: 60px;
    top: 26px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;

    color: #FFFFFF;
}


.sub-section4-btn {
    position: absolute;
    width: 110px;
    height: 45px;
    left: 60px;
    top: 160px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 23px;
    text-align: center;

    color: #F15B22;
}
/* section 5 */
.section5 {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    height: 577px;
    left: 0px;
    top: 2652.26px;

    background: #151414;
    color: #FFFFFF;
}

.sub-section5-a{
    padding-top: 50px;
    width: 30%;
    
}

.sub-section5-b{
    padding-top: 50px;
    width: 30%;
    
    
}
.section5-btn{
    position: absolute;
    width: 100px;
    height: 50px;
    left: 975px;
    top: 160px;
    background-color: #F15B22;
    border-radius: 5%;
    color: aliceblue;
}

